* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&family=Open+Sans:ital,wght@0,400;0,800;1,300&display=swap");

body{
  background-color: rgb(2, 30, 53);
  color: #fff;
  padding: 2rem;
}
